@inject BlazorApp1.Client.Services.IBananaService BananaService
<button @onclick="IncreaseBananasCount"class="btn btn-info">+</button>

@code {

    public void IncreaseBananasCount()
    {
        BananaService.AddBananas(10);
    }
}
